/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after{
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh   ;
}
.code-wrapper{
    flex: 1;
    height: 50%;
    border:1px solid red;
}
.preview-wrapper{
    flex: 1;
    height: 50%;;
}
.preview{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEE433;
}
.wrapper{
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.wrapper .nose{
    width: 0px;
    height: 0px;
    border: 14px solid;
    border-color: black transparent transparent transparent;
    border-radius: 50%;
}
.wrapper .eye{
    position: absolute;
    width: 45px;
    height: 45px;
    border: 2px solid black;
    background-color: #2e2e2e;
    border-radius: 50%;
}
.wrapper .eye::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    left: 5px;
}
.wrapper .eye.left{
    transform: translate(-100px,-12px);
}
.wrapper .eye.right{
    transform: translate(100px,-12px);
}
.wrapper .blush{
    position: absolute;
    width: 66px;
    height: 66px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #FC0D1C;
}
.wrapper .blush.left{
    transform: translate(-145px,55px);
}
.wrapper .blush.right{
    transform: translate(145px,55px);
}
.wrapper .upperlip{
    position: absolute;
    width: 80px;
    height: 25px;   
    border: 2px solid black;
    background-color: #FEE433;
}
.wrapper .upperlip.left{
    right: 50%;
    top:54%;
    border-top: none;
    border-right: none;
    border-bottom-left-radius:40px 20px;
    transform: rotate(-20deg);
}
.wrapper .upperlip.right{
    left: 50%;
    top:54%;
    border-top: none;
    border-left: none;
    border-bottom-right-radius:40px 20px;
    transform: rotate(20deg);
}

.wrapper .lowerlip-wrapper{
    position: absolute;
    width: 300px;
    height: 120px;
    top:58%;
    overflow: hidden;
}
.wrapper .lowerlip{
    position: absolute;
    margin-left: 66px; 
    bottom: 0;
    width: 170px;
    height: 1000px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #990513;
    overflow: hidden;
    
}
.wrapper .lowerlip::before{
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100px;
    height: 100px;
    margin-left: 34px; 
    background-color: #FC4A62;
    border-radius: 50%;
} */
.action{
    position: absolute;
    top:0;
    right: 45%;
    display: flex;
}
.action>button{
    transition: all 0.3s;
    padding: 10px;
    margin: 5px 20px;
    border: 1px solid #FC4A62;
    background-color: #FC4A62;
    border-radius: 5px; 
    box-shadow: 1px 2px 0px 0px #2e2e2e;
}
.action>button.active{
    outline: none;
    box-shadow: none;
}
#code{
    padding: 20px;
    overflow: hidden;
    font-family: 'Monaco';
    font-size: 14px;
    height: 100%;
}